/**
 *	Modul: pagecloner - backend.css
 */

table {
/*	outline: 1px solid #990000; */
}

.introtext {
	display:block;
	float: left;
	margin-top: 17px;
	margin-bottom: 12px;
	width: 100%;
	height: 50px;
	overflow: hidden;
}

.pageslist img {
	display: block;
}

ul, li {
	list-style: none;
	margin: 0;
	padding: 0;
}

.pagelist {
	display: block;
}

form.pagecloner {
    padding-top:54px !important;
}

table.pagecloner_pagelist {
    border-spacing: 0px;
    border-collapse: separate;
    background-color: #EEEEEE;
    width: 600px;
}
table.pagecloner_pagelist.head {
    background-color: #CCCCCC;
    margin-top:5px;
    margin-bottom:5px;
}
table.pagecloner_pagelist tr {
    margin-bottom: 10px;
    height:20px;
}

td.pagelist_toggle,
table.pagecloner_pagelist.head td.toggle { width:23px; }

td.pagelist_title,
table.pagecloner_pagelist.head td.title { width:120px; }

td.pagelist_menu,
table.pagecloner_pagelist.head td.menu { width:120px; }

td.pagelist_visi,
table.pagecloner_pagelist.head td.visi { width:120px; }

td.pagelist_toggle img{ padding-left:5px;}

div.ui.header{
    margin-top:20px;
}

.hidden {
    display: none;
}